HOSTNAME=
NODE_IP=

SCOPE=
ETCD_NAME=
ETCD_INITIAL_CLUSTER=
ETCD_HOSTS=
ETCD3_HOSTS=

# Users
PG_SUPERUSER_PASSWORD=
PG_ADMIN_PASSWORD=
PG_STANDBY_PASSWORD=
PG_EXPORTER_PASSWORD=

# WAL-G
WALG_S3_PREFIX=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_ENDPOINT=

# Local disk location
LOCAL_DISK=

# Grafana
GRAFANA_CLOUD_API_KEY=

GRAFANA_CLOUD_PROMETHEUS_URL=
GRAFANA_CLOUD_PROMETHEUS_USERNAME=
